.highlight {
  border-radius: 4px;
  margin: 0;
  line-height: 2.1rem;
}
  .highlight table {
    width: 100%;
  }
  .highlight .gutter {
    text-align: right;
    width: 3rem;
  }
  .highlight .gutter .line {
    padding: 0 0.4rem;
  }
  .highlight .code {
    background-color: hsl(220, 13%, 26%);
    border-radius: 4px;
  }
    .highlight .code .line {
      padding: 0 0.4rem;
    }

/*

Atom One Dark by Daniel Gamage
Original One Dark Syntax theme from https://github.com/atom/one-dark-syntax

base:    #282c34
mono-1:  #abb2bf
mono-2:  #818896
mono-3:  #5c6370
hue-1:   #56b6c2
hue-2:   #61aeee
hue-3:   #c678dd
hue-4:   #98c379
hue-5:   #e06c75
hue-5-2: #be5046
hue-6:   #d19a66
hue-6-2: #e6c07b

*/

.highlight {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #abb2bf;
  background: #282c34;
}

.highlight .comment,
.highlight .quote {
  color: #5c6370;
  font-style: italic;
}

.highlight .doctag,
.highlight .keyword,
.highlight .formula {
  color: #c678dd;
}

.highlight .section,
.highlight .name,
.highlight .selector-tag,
.highlight .deletion,
.highlight .subst {
  color: #e06c75;
}

.highlight .literal {
  color: #56b6c2;
}

.highlight .string,
.highlight .regexp,
.highlight .addition,
.highlight .attribute,
.highlight .meta-string {
  color: #98c379;
}

.highlight .built_in,
.highlight .class .highlight .title {
  color: #e6c07b;
}

.highlight .attr,
.highlight .variable,
.highlight .template-variable,
.highlight .type,
.highlight .selector-class,
.highlight .selector-attr,
.highlight .selector-pseudo,
.highlight .number {
  color: #d19a66;
}

.highlight .symbol,
.highlight .bullet,
.highlight .link,
.highlight .meta,
.highlight .selector-id,
.highlight .title {
  color: #61aeee;
}

.highlight .emphasis {
  font-style: italic;
}

.highlight .strong {
  font-weight: bold;
}

.highlight .link {
  text-decoration: underline;
}
