:root {
  --fontSystem: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  --fontMonospace: 'Fantasque Sans Mono', monospace;
}

body {
  box-sizing: border-box;
  color: #333;
  font-family: var(--fontSystem);
  font-size: 1.15rem;
  margin: 0;
}

@media (min-width: 50rem) {
  body {
    font-family: 'Roboto', var(--fontSystem);
  }
}

@media (max-width: 500px) {
  body {
    font-size: 1rem;
  }
}

a {
  color: #1477f1;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

code,
pre {
  font-family: var(--fontMonospace);
  margin: 0;
}

p code {
  background-color: hsl(220, 13%, 26%);
  border-radius: 4px;
  color: #abb2bf;
  padding: 0.3em 0.4em 0.15em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

h1 {
  font-size: 3.157em;
}

h2 {
  font-size: 2.369em;
}

h3 {
  font-size: 1.777em;
}

h4,
h5,
h6 {
  font-size: 1.333em;
}

h5 {
  font-style: italic;
}

h6 {
  text-decoration: underline;
}

a.headerlink {
  text-decoration: none;
}

a.headerlink::before {
  color: hsl(0, 0%, 85%);
  content: '#';
  font-family: var(--fontMonospace);
  text-decoration: none;
  margin-right: 0.6rem;
}

a.headerlink:hover::before {
  color: #1477f1;
  text-decoration: underline;
}

a.headerlink::after {
  content: '';
}

li {
  margin-bottom: 0.5em;
}

blockquote {
  border-left: #222 4px solid;
  font-size: 1.2em;
  margin: 1.5em 3em;
  padding: 0 0 0.15em 0.6em;
  page-break-inside: avoid;
}

@media (max-width: 700px) {
  blockquote {
    margin: 1.5em;
  }
}

blockquote p {
  margin: 0;
}

hr {
  border: none;
  border-top: 1px #e8e8e8 solid;
  clear: left;
  height: 0;
  margin: 1.5em 0;
}

._lightText {
  font-weight: lighter;
}

._fontMonospace {
  font-family: var(--fontMonospace);
}

article p {
  line-height: 1.5;
}

article input[type="checkbox"] {
  pointer-events: none;
}

._headersSystemFont h1,
._headersSystemFont h2,
._headersSystemFont h3,
._headersSystemFont h4,
._headersSystemFont h5,
._headersSystemFont h6 {
  font-family: var(--fontSystem);
}

.layout-flexbox {
  display: flex;
}

@media (max-width: 500px) {
  .layout-flexbox.-smallScreenFix {
    display: block;
  }
}

.layout-flexbox.-center {
  justify-content: center;
}

.layout-flexbox.-verticalCenter {
  align-items: center;
}

.layout-flexbox.-fullHeight {
  height: 100%;
}

.layout-flexbox.-sidePadding {
  padding-left: 1rem;
  padding-right: 1rem;
}

.layout-flexbox.-fixedWidth > .item {
  max-width: 48rem;
}

@media (min-width: 50rem) {
  .layout-flexbox.-fixedWidth > .item {
    width: 48rem;
  }
}

.section-background {
  background-image: url('../images/header-background.jpg');
  background-size: cover;
}

.section-background.-largeHeight {
  background-position: 50% 0%;
  height: 600px;
}

.section-background.-smallHeight {
  background-position: 50% 45%;
  height: 200px;
}

@media (max-width: 50rem) {
  .section-background.-smallHeight {
    height: 320px;
  }
}

.section-background > .tint {
  /* background-color: rgba(93, 120, 145, 0.6); */
  background-color: rgba(126, 159, 189, 0.7);
}

.section-background > .tint.-fullHeight {
  height: 100%;
}

/* .post-header {} */

.post-header > .title {
  font-size: 3.3em;
  margin-top: 3.2rem;

  /* margin-bottom: 1.4rem; */

  margin-bottom: 0.6rem;
}

.post-header > .tags {
  display: inline;
  font-family: var(--fontMonospace);
}

@media (max-width: 50rem) {
  .post-header > .title {
    font-size: 3.1em;
  }

  .post-header > .tags {
    display: block;
    margin-top: 0.8rem;
  }
}

.article-tag-list {
  display: inline;
  list-style: none;
  margin: 0;
  padding: 0;
}

.article-tag-list-item {
  display: inline;

  /* padding-right: 0.4em; */
}

.article-tag-list-item::after {
  content: ', ';
  margin-right: 0.2rem;
}

.article-tag-list-item:last-of-type::after {
  content: '';
}

.profile-grouping {
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  align-content: stretch;
}

@media (max-width: 50rem) {
  .profile-grouping {
    align-content: center;
    align-items: center;
    flex-direction: column;
  }
}

.profile-grouping > .avatar {
  flex: 0 1 150px;
  order: 0;
}

.profile-grouping > .avatar.-large {
  flex: 0 1 182px;
}

.profile-grouping > .info {
  flex: 1 1 auto;
  order: 1;
}

@media (max-width: 50rem) {
  .profile-grouping > .avatar {
    flex: 0 1 120px;
    order: 0;
  }

  /* .profile-grouping > .avatar.-large {
    flex: 0 1 182px;
  } */

  .profile-grouping > .info {
    text-align: center;
  }
}

.profile-photo {
  background-image: url('../images/photo.jpg');
  background-size: cover;
  border-radius: 999px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

.profile-photo.-large {
  height: 182px;
  width: 182px;
  height: 160px;
  width: 160px;
}

.profile-photo.-small {
  height: 120px;
  width: 120px;
}

@media (max-width: 50rem) {
  .profile-photo.-large {
    height: 170px;
    width: 170px;
  }
}

@media (min-width: 50rem) {
  .profile-photo.-marginRight {
    margin-right: 1.5em;
  }
}

.site-header {
  color: black;
  text-shadow: rgba(255, 255, 255, 0.6) 1px 1px 50px;
}

.site-header > .name {
  font-size: 2.3em;
  margin: 0.3rem 0 0.5rem;
}

.site-header > .bio {
  font-family: 'Roboto Condensed';
  font-size: 1.05em;
  margin-top: 0;
  margin-bottom: 0.8rem;
}

.site-header > .links {
  font-family: 'Roboto Condensed';
  font-size: 1.05em;
  margin-top: 0;
  text-align: center;
}

.site-header > .links > a {
  color: white;
  display: inline-block;
  margin-right: 0.4em;
  /* margin-bottom: 0.2em; */
  padding: 0.3em 0.5em 0.3em 0.3em;
}

.site-header > .links > a:hover {
  background-color: white;
  border-radius: 4px;
  color: rgb(87, 112, 136);
  text-decoration: none;
}

.site-header > .nav > a {
  color: white;
  display: inline-block;
  margin-right: 0.4em;
  padding: 0.3em 0.5em;
}

.site-header > .nav > a:hover {
  background-color: white;
  border-radius: 4px;
  color: rgb(87, 112, 136);
  text-decoration: none;
}

@media (min-width: 50rem) {
  .site-header > .name {
    font-weight: 300;
  }

  .site-header > .bio {
    max-width: 28rem;
  }
}

.site-footer {
  color: hsl(0, 0%, 60%);
  padding: 1em;
}

._text-center {
  text-align: center;
}
