<% page.canonical = 'https://samuelchampagne.com' %>

<%- partial('_partial/header-full.ejs') %>

<div class="layout-flexbox -fixedWidth -center">
  <div class="item">
    &nbsp;<br />&nbsp;<br />&nbsp;
    <h3 class="_text-center">Nothing to see here... yet</h3>
    &nbsp;<br />&nbsp;
  </div>
</div>

<%- partial('_partial/footer.ejs') %>
