<!DOCTYPE html>
<html lang="<%= config.language %>">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title><%= page.title ? page.title + ' ◆ ' : '' %><%= config.title %></title>
<% if (config.description) { -%>
    <meta name="description" content="<%= config.description %>">
<% } -%>

<% if (page.search_hidden) { -%>
    <meta name="robots" content="noindex nofollow noarchive">
<% } -%>
    <link rel="canonical" href="<%= page.canonical ? page.canonical : page.permalink %>">
<% if (config.author_url || page.author_url) { -%>
    <link rel="author" href="<%= page.author_url ? page.author_url : config.author_url %>">
<% } -%>
<% if (page.license) { -%>
    <link rel="license" href="<%= page.license %>">
<% } -%>

<% if (config.feed.type && config.feed.path) { -%>
    <link rel="alternate" href="<%= url_for(config.feed.path) %>" title="<%= config.title %>" type="application/<%= config.feed.type %>+xml">
<% } -%>

    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed|Roboto:300,400" rel="stylesheet" />
    <%- css('fonts/FantasqueSansMono/font.css') %>
    <%- css('fonts/fontello-89dd5ddb/css/fontello.css') %>
    <%- css('styles/main.css') %>
    <%- css('styles/highlights.css') %>
  </head>
  <body>
    <%- body %>
  </body>
</html>
