<%- partial('_partial/header-minimal.ejs') %>

<div class="layout-flexbox -fixedWidth -center -sidePadding -smallScreenFix">
  <div class="item">
    <article>
      <div class="post-header">
        <h1 class="title"><%- page.title %></h1>
        <i class="icon-clock"></i> <span class="_fontMonospace"><%- full_date(page.date, '[<strong>]YYYY-MM-DD[</strong>]') %></span>
        &nbsp;
        <span class="license">
          <% if (page.license){ %>
            <i class="icon-balance"></i>
            <a href="<%- page.license %>">License</a>
          <% } %>
        </span>
        &nbsp;
        <div class="tags">
          <% if (page.tags && page.tags.length){ %>
            <i class="icon-tags"></i>
            <%- list_tags(page.tags, {
              show_count: false,
              class: 'article-tag'
            }) %>
          <% } %>
        </div>
        <hr />
      </div>
      <%- page.content %>
    </article>
  </div>
</div>

<%- partial('_partial/footer.ejs') %>
