<footer class="site-footer layout-flexbox -center -sidePadding _text-center">
  <div>
    <p>Copyright &copy; 2018 Samuel Champagne</p>
    <p><small>Built with <a href="https://hexo.io">Hexo</a>, <a href="https://fontawesome.com/">Font Awesome</a>, the <a href="https://github.com/isagalaev/highlight.js/blob/master/src/styles/atom-one-dark.css">Atom One Dark Syntax Theme</a> for highlight.js, & <a href="#">Fantasque Sans Mono</a>.</small></p>
    &nbsp;
  </div>
</footer>
