<div class="section-background -largeHeight">
  <div class="tint -fullHeight">
    <div class="layout-flexbox -fullHeight -center -verticalCenter -sidePadding">
      <div class="item">
        <div class="profile-grouping">
          <div class="avatar -large">
            <div class="profile-photo -large -marginRight"></div>
          </div>
          <div class="info site-header">
            <h1 class="name">Samuel Champagne</h1>
            <p class="bio">
              Aspiring Polymath.
              Canadian raised in the USA.<br />
              Now living in the SF Bay Area.
            </p>
            <p class="links">
              <a href="https://www.instagram.com/astraloverflow/"><i class="icon-instagram"></i> Instagram</a>
              <a href="https://twitter.com/astraloverflow"><i class="icon-twitter"></i> Twitter</a>
              <a href="https://medium.com/@astraloverflow"><i class="icon-medium"></i> Medium</a>
              <%# <br /> %>
              <a href="https://github.com/astraloverflow"><i class="icon-github"></i> GitHub</a>
              <%# <a href="https://www.linkedin.com/in/samuelchampagne/detail/recent-activity/"><i class="icon-linkedin"></i> LinkedIn</a> %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
