<div class="section-background -smallHeight">
  <div class="tint -fullHeight">
    <div class="layout-flexbox -fixedWidth -fullHeight -center -verticalCenter -sidePadding">
      <div class="item">
        <div class="profile-grouping">
          <div class="avatar">
            <div class="profile-photo -small"></div>
          </div>
          <div class="info site-header">
            <h1 class="name">Samuel Champagne</h1>
            <nav class="nav">
              <a href="/">Home</a>
              <a href="https://www.instagram.com/astraloverflow/"><i class="icon-instagram"></i> Instagram</a>
              <a href="https://twitter.com/astraloverflow"><i class="icon-twitter"></i> Twitter</a>
              <a href="https://medium.com/@astraloverflow"><i class="icon-medium"></i> Medium</a>
              <%# <br /> %>
              <a href="https://github.com/astraloverflow"><i class="icon-github"></i> GitHub</a>
              <%# <a href="https://www.linkedin.com/in/samuelchampagne/detail/recent-activity/"><i class="icon-linkedin"></i> LinkedIn</a> %>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
