
.icon-clock:before { content: '\e800'; } /* '' */
.icon-tags:before { content: '\e801'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-github:before { content: '\f09b'; } /* '' */
.icon-coffee:before { content: '\f0f4'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-medium:before { content: '\f23a'; } /* '' */
.icon-balance:before { content: '\f24e'; } /* '' */
.icon-linkedin:before { content: '\f30c'; } /* '' */