@font-face {
  font-family: 'Fantasque Sans Mono';
  src: url('FantasqueSansMono-Italic.woff2') format('woff2'),
       url('FantasqueSansMono-Italic.woff') format('woff'),
       url('FantasqueSansMono-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Fantasque Sans Mono';
  src: url('FantasqueSansMono-Regular.woff2') format('woff2'),
       url('FantasqueSansMono-Regular.woff') format('woff'),
       url('FantasqueSansMono-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Fantasque Sans Mono';
  src: url('FantasqueSansMono-BoldItalic.woff2') format('woff2'),
       url('FantasqueSansMono-BoldItalic.woff') format('woff'),
       url('FantasqueSansMono-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Fantasque Sans Mono';
  src: url('FantasqueSansMono-Bold.woff2') format('woff2'),
       url('FantasqueSansMono-Bold.woff') format('woff'),
       url('FantasqueSansMono-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
